// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~toastr/toastr.scss';



label {
    display: inline-block;
    margin-bottom: 0rem;
    font-size: 12px;
    padding: 0px 10px;
}

.modal-dialog { max-width: 900px; }
